__include__: [
  "../src/rtdetrv2_pytorch/configs/dataset/coco_detection.yml",
  "../src/rtdetrv2_pytorch/configs/runtime.yml",
  "../src/rtdetrv2_pytorch/configs/rtdetrv2/include/dataloader.yml",
  "../src/rtdetrv2_pytorch/configs/rtdetrv2/include/optimizer.yml"
]

# ===============================================================
# MODEL + MAE BACKBONE CONFIG
# ===============================================================

task: detection

model: RTDETR
criterion: RTDETRCriterionv2
postprocessor: RTDETRPostProcessor

use_focal_loss: True
eval_spatial_size: [640, 640]

RTDETR:
  backbone: MAE_RTDETR_Backbone
  encoder: HybridEncoder
  decoder: RTDETRTransformerv2

MAE_RTDETR_Backbone:
  mae:
    type: MAE
    img_size: 640
    patch_size: 16
    in_chans: 3
    embed_dim: 384
    depth: 6
    num_heads: 6
    decoder_dim: 192
    decoder_depth: 4
    mask_ratio: 0.75
  num_channels: 384
  freeze: false
  mae_ckpt: ./checkpoints/ssl_mae_best.pth 


HybridEncoder:
  in_channels: [384, 384, 384]
  feat_strides: [8, 16, 32]

  hidden_dim: 256
  use_encoder_idx: [2]
  num_encoder_layers: 1
  nhead: 8
  dim_feedforward: 1024
  dropout: 0.0
  enc_act: gelu

  expansion: 1.0
  depth_mult: 1
  act: silu

RTDETRTransformerv2:
  feat_channels: [256, 256, 256]
  feat_strides: [8, 16, 32]
  hidden_dim: 256
  num_layers: 6
  num_queries: 300

  num_denoising: 100
  label_noise_ratio: 0.5
  box_noise_scale: 1.0
  eval_idx: -1

  num_points: [4, 4, 4]
  cross_attn_method: default
  query_select_method: default

RTDETRPostProcessor:
  num_top_queries: 300

RTDETRCriterionv2:
  weight_dict:
    loss_vfl: 1
    loss_bbox: 5
    loss_giou: 2
  losses: ["vfl", "boxes"]
  alpha: 0.75
  gamma: 2.0
  matcher:
    type: HungarianMatcher
    weight_dict:
      cost_class: 2
      cost_bbox: 5
      cost_giou: 2
    alpha: 0.25
    gamma: 2.0


# ===============================================================
# OVERRIDE ONLY DATA & TRAINING SETTINGS
# ===============================================================

output_dir: ./logs/detector_rtdetr

num_classes: 1
remap_mscoco_category: True

train_dataloader:
  dataset:
    img_folder: ./data/detection/train
    ann_file: ./data/detection/annotations/train_annotations.coco.json

val_dataloader:
  dataset:
    img_folder: ./data/detection/valid
    ann_file: ./data/detection/annotations/valid_annotations.coco.json

semi_supervised:
  unlabeled_img_folder: ./data/unlabeled
  batch_size: 4
  num_workers: 4
  pseudo_score_thr: 0.5
  max_pseudo: 200
  lambda_u: 1.0
  unsup_warmup_epochs: 5
  ema_decay: 0.999
